@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
    <h2 style="color: white;">Movie Details</h2>
    <p style="color: white;">Movie ID: @Model.Id</p>
    <p style="color: white;">Movie Name: @Model.Name</p>
    <p style="color: white;">Rating: @Model.Rating</p>
    <p style="color: white;">Release Year: @Model.ReleaseYear</p>
    <p style="color: white;">Genre: @Model.Genre</p>
    <p style="color: white;">Description: @Model.Description</p>
</body>
</html>