@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}


@* <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Release Year</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody class= "hfont">
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td ><a href = "/movies/getmovie/@movie.Id" > @movie.Name </a></td>
                <td>@movie.Rating</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.Genre</td>
            </tr>
        }
    </tbody>
</table>
 *@
<div class="bodyy">

    @foreach (var movie in Model)
    {
        <div class="box" data-id="@movie.Id" data-name="@movie.Name">
            <div class="box-img">
                <a href="@movie.URL">
                    <img src="@movie.images" alt="Titanic" width="250" height="250">
                </a>
                <div class="box-details">
                    <a href="/movies/getmovie/@movie.Id" class="caption">@movie.Name</a>
                </div>
            </div>
        </div>
    }
    </div>






