@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}


@* <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Release Year</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody class= "hfont">
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td ><a href = "/movies/getmovie/@movie.Id" > @movie.Name </a></td>
                <td>@movie.Rating</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.Genre</td>
            </tr>
        }
    </tbody>
</table> *@

<div class="bodyy">

    <div class="box" data-id="1" data-name="Titanic">
        <div class="box-img">
            <a href="https://youtu.be/QvrCxnfI5kY?si=W-uPwzvYEuuCvkeh">
                <img src="/images/titanic.jpg" alt="Titanic" width="250" height="250">
            </a>
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/1" class="caption">Titanic</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="2" data-name="Inception">
        <div class="box-img">
            <a href="https://youtu.be/JPJvvVHOViA?si=O1mHprm_AzafzElE">
                <img src="/images/inception.jpg" alt="Inception" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/2" class="caption">Inception</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="3" data-name="The shawshank Redemption">
        <div class="box-img">
            <a href="https://youtu.be/y7d7TCtrdnU?si=lGSdNirBDafblRAc">
                <img src="/images/shawshank.jpg" alt="shawshank" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/3" class="caption">The shawshank Redemption</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="4" data-name="Cabin Inception the woods">
        <div class="box-img">
            <a href="https://youtu.be/TnUPdW6PeF8?si=2uUOcgOQ1J47CmpF">
                <img src="/images/cabin.jpg" alt="Cabin in the woods" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/4" class="caption">Cabin Inception the woods</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="5" data-name="Autopsy of jane doe">
        <div class="box-img">
            <a href="https://youtu.be/vWhmf1LH8Io?si=GpwpgR7LPDeB8LbU">
                <img src="/images/autopsy.jpg" alt="Autopsy of jane doe" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/5" class="caption">Autopsy of jane doe</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="6" data-name="The texas chainsaw massacre">
        <div class="box-img">
            <a href="https://youtu.be/cyxHB9R9bgs?si=8yf8Alw8XDON6qB0">
                <img src="/images/chainsaw.jpg" alt="The texas chainsaw massacre" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/6" class="caption">The texas chainsaw massacre</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="7" data-name="50 First Dates">
        <div class="box-img">
            <a href="https://youtu.be/QXghVnJs_Jc?si=AhxkoRhJlViB0M99">
                <img src="/images/5.jpg" alt="50 First Dates" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/7" class="caption">50 First Dates</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="8" data-name="The gangster, the cop, the devil">
        <div class="box-img">
            <a href="https://youtu.be/OChn0Ru5Mo0?si=yipc1QwNA3y5e5ZP">
                <img src="/images/gangster.jpg" alt="The gangster, the cop, the devil" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/8" class="caption">The gangster, the cop, the devil</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="9" data-name="Four Sisters and a Wedding">
        <div class="box-img">
            <a href="https://youtu.be/1jDNHr45HiM?si=uUJlYelRiyeuNSKN">
                <img src="/images/4 sisters.jpg" alt="Four Sisters and a Wedding" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/9" class="caption">Four Sisters and a Wedding</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="10" data-name="It Takes a Man and a Woman">
        <div class="box-img">
            <a href="https://youtu.be/mbg0eAZI_0Q?si=K2XlI_DQDrctxK0P">
                <img src="/images/it takes a man and a woman.jpg" alt="It Takes a Man and a Woman" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/10" class="caption">It Takes a Man and a Woman</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="11" data-name="Mean Girls">
        <div class="box-img">
            <a href="https://youtu.be/dCrLCATfeZA?si=gTDRvdTPFFCHbfIp">
                <img src="/images/mean girls.png" alt="Mean Girls" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/11" class="caption">Mean Girls</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="12" data-name="Nowhere">
        <div class="box-img">
            <a href="https://youtu.be/BjCjCizSPlc?si=CKAhEppR9rfb_yDA">
                <img src="/images/nowhere.jpg" alt="Nowhere" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/12" class="caption">Nowhere</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="13" data-name="Fracture">
        <div class="box-img">
            <a href="https://youtu.be/ZM2_OvDDezo?si=ufGpglntD1tHJRBg">
                <img src="/images/fractured.jpg" alt="Fracture" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/13" class="caption">Fracture</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="14" data-name="John Whick">
        <div class="box-img">
            <a href="https://youtu.be/E0cTQgS2mEc?si=nbEldevYGO9bmopw">
                <img src="/images/john wick.jpg" alt="John Whick" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/15" class="caption">John Whick</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="15" data-name="The Kissing Booth">
        <div class="box-img">
            <a href="https://youtu.be/9eXb6jWhMis?si=V1L_5w0KRfE2TU-W">
                <img src="/images/kissing booth.jpg" alt="The Kissing Booth" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/14" class="caption">The Kissing Booth</a>
            </div>
        </div>
    </div>

    <div class="box" data-id="16" data-name="Camp Sawi">
        <div class="box-img">
            <a href="https://youtu.be/wWBT3ss9i7Y?si=yBxyRsjiL8udcoq5">
                <img src="/images/campsawi.jpg" alt="Camp Sawi" width="250" height="250">
            </a>
            <div class="box-details">
                <a href="/movies/getmovie/16" class="caption">Camp Sawi</a>
            </div>
        </div>
    </div>

</div>






